<script language="javascript">
    $(function(){
        $("#form{$uniqid}").form('load',{
            'id':'{$info["id"]}',
            'name':'{$info["name"]}',
            'username':'{$info["username"]}',
            'status':'{$info["status"]}',
        });
    });

    function onSubmit{$uniqid}(){
        $("#form{$uniqid}").form('submit',{
            url:"{:U('edit')}",
            onSubmit: function(){
                return $(this).form('enableValidation').form('validate');
            },
            success:function(data){
                //console.log(data);
                data = JSON.parse(data);
                if(data.success){
                    $.messager.alert('提示','更新数据成功！','info');
                    var dguniqid = cancel['Agent'].attr('val');
                    $("#datagrid"+dguniqid).datagrid('reload');
                }else{
                    $.messager.alert('提示',data.message,'warning');
                }
            }
        });
    }

    function onReset{$uniqid}(){
        cancel['Agent'].dialog('close');
        cancel['Agent'] = null;
    }
</script>
<div class="con-tb">
    <form id="form{$uniqid}" class="easyui-form" method="post" data-options="novalidate:true">
        <table class="infobox" width="100%" border="0" cellspacing="0" cellpadding="0">
            <input type="hidden" name="id" value="{$info['id']}" />
            <tr>
                <td width="28%"><label for="name">名称</label></td>
                <td width="72%">
                    <input name="name" class="easyui-textbox" type="text" size="22" data-options="required:true,validType:'name'" />
                </td>
            </tr>
            <tr>
                <td width="28%"><label for="username">用户名</label></td>
                <td width="72%">
                    <input name="username" class="easyui-textbox" type="text" size="22" data-options="required:true" readonly="readonly"/>
                </td>
            </tr>
            <tr>
                <td width="28%"><label for="password">密码</label></td>
                <td width="72%"><input name="password" type="password" class="easyui-textbox" size="22" data-options="validType:'password'"/></td>
            </tr>
            <tr>
                <td width="28%"><label for="status">状态</label></td>
                <td width="72%">
                    <select class="easyui-combobox" name="status">
                        <option value="1">开启</option>
                        <option value="0">关闭</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td height="38" colspan="2" align="center">
                    <a href="javascript:void(0);" onclick="javascript:onSubmit{$uniqid}()" id="su" class="easyui-linkbutton" data-options="iconCls:'icon-save'">保存</a>
                    &nbsp;
                    <a href="javascript:void(0);" onclick="javascript:onReset{$uniqid}()" id="re" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">关闭</a>
                </td>
            </tr>
        </table>
    </form>
</div>